<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Mail Boxes Ucab</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<%= stylesheet_link_tag "scaffold" %>
<link rel="shortcut icon" href="../images/dropbox.png"/>
</head>
<body>
<div id="header">
	<h1>mail boxes ucab</h1>
	<h2>confianza y rapidez en sus envios</h2>
	<ul>
		<li><a href="#" accesskey="1" title="">Homepage</a></li>
		<li><a href="#" accesskey="2" title="">My Blog</a></li>
		<li><a href="#" accesskey="4" title="">Favorite Sites</a></li>
	</ul>
</div>
<div id="content">
	<div id="colOne">
		<h3>Login</h3>
		<div class="bg1">
			<ul>
				<li><a href="http://localhost:3000/application/gotogoogle/1">Registrarse</a></li>
				<li><a href="#">Ingresar</a></li>
			</ul>
		</div>
		<h3>Tracking Id</h3>
		<div class="bg1">
			<ul>
				<li class="first"><input type="text" name="trackId" id="trackId"/></li>
			</ul>
		</div>
	</div>
	<div id="colTwo">
		<div class="bg2">
                      <p style="color: green"><%= flash[:notice] %></p>
                      <%= yield -%>
                </div>
        </div>
</div>
<div id="footer">
	<p>Copyright (c) 2011 www.mailboxesucab.com. All Rights Reserved. Design by ILC</p>
</div>
</body>
</html>
