<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Mail Boxes Ucab</title>
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <%= stylesheet_link_tag "scaffold" %>
    <%= javascript_include_tag :defaults, :cache => true %>
    <link rel="shortcut icon" href="../images/dropbox.png"/>
    <%=  yield :googlemaps %>
  </head>
  <body onload="initialize()">
    <%= render "layouts/partial_operations" %>
  </body>
</html>
